* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque";
}

body {
  background-color: #1e2935;
  color: white;
}

.about {
  width: 300px;
  padding: 20px;
  border: 2px solid black;
  margin: 15px;
}

span {
  background-color: #c8a96e;
}

h1,
h2,
h3 {
  color: #c8a96e;
}

h2 {
  font-size: 32px;
  margin-top: 12px;
}

p {
  font-size: 16px;
  line-height: 24px;
  width: 50%;
}
