* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e2935;
  color: white;
}

.navbar {
  padding: 16px;
  position: sticky;
  display: flex;
  top: 0;
  gap: 32px;
  background-color: #283443;
  justify-content: center;
}

.navbar > a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
}

.navbar > a:hover {
  background-color: #3e526a;
  border-radius: 15px;
}

.title {
  font-size: 42px;
  margin-top: 12px;
}

h2 {
  font-size: 26px;
}

.about,
ol,
ul {
  width: 50%;
  font-size: 16px;
  line-height: 24px;
}
